
@{
    ViewBag.Title = "Settings";
}
<form action="@Url.Action("Close", "Settings")" method="post">
    <label for="webName" class="control-label col-md-5">After you are sure, click the end process button to close the server</label>
    <button type="submit" class="btn btn-danger col-lg-offset-1">End Server</button>
</form>
