
@{
    ViewBag.Title = "Login";
}

<style>
    /* ===== Google Font Import - Poformsins ===== */
@@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.input-field .user-box {
                position: relative;
            }

                .input-field .user-box input {
                    width: 100%;
                    padding: 10px 0;
                    font-size: 16px;
                    color: #000000;
                    margin-bottom: 30px;
                    border: none;
                    border-bottom: 1px solid #000000;
                    outline: none;
                    background: transparent;
                }

                .input-field .user-box label {
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-weight: 500;
                    font-size: 20px;
                    color: #000000;
                    pointer-events: none;
                    transition: .5s;
                }

                .input-field .user-box input:focus ~ label,
                .input-field .user-box input:valid ~ label {
                    top: -20px;
                    left: 0;
                    color: #A251E2;
                    font-size: 16px;
                }

.input-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container2{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 auto; /* Center horizontally */
    justify-content: center;
    align-items: center; /* Center vertically */
    font-family: 'Poppins', sans-serif;
}

.container2 .forms{
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}


.container2 .form{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.container2.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container2 .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}
.container2.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container2.active .forms{
    height: 600px;
}
.container2 .form .title{
    padding-bottom:40px;
    text-align:center;
    position: relative;
    font-size: 47px;
    font-weight: 600;
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 15px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #4070f4;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #4070f4;
}

.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin-right: 10px;
    accent-color: #4070f4;
}

.form .text{
    color: #333;
}

.form a.text{
    color: #4070f4;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #265df2;
}

.form .login-signup{
    margin-top: 10px;
    text-align: center;
}
</style>

<!-- Cart view section -->
<section id="aa-myaccount"style="background: linear-gradient(to bottom, #e1e1e1, #b272f1); ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">
                    <div class="row">
                         <div class="container2">
                             <div class="forms">
                                 <div class="form login">
                                     <h2 class="title">Login</h2>
                                     @if (TempData["AlertMessageErrorLogin"] != null)
                                     {
                             <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                 <strong>@TempData["AlertMessageErrorLogin"].ToString()</strong>
                                 <script>
                                     window.setTimeout(function () {
                                         $(".alert-danger").fadeTo(500, 0).slideUp(500, function () {
                                             $(this).remove();
                                         });
                                     }, 2000);
                                 </script>
                             </div>}
                                     @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "aa-login-form" }))
                                     {
                             <div class="input-field">
                                 <div class="user-box">
                                     <input name="UserName" type="text" required maxlength="20">
                                     <label>Username</label>
                                 </div>
                             </div>
                                             <div class="input-field">
                                                 <div class="user-box">
                                                     <input name="Password" type="password" required maxlength="20">
                                                     <label>Password</label>
                                                 </div>
                                             </div>
                                                             <div class="text" style="padding-top:20px;"><a href="#" id="forgot-password-link">Forgot password?</a></div>
                                                                             <div class="button input-field">
                                                                                 <button type="submit" class="aa-browse-btn" style="margin-top: -10px; width: 365px;">Login</button>
                                                                             </div>}
                                     <div class="login-signup">
                                         <span class="text">
                                             Don't have an account?
                                             <a href="#" class="text signup-link">Register Now</a>
                                         </span>
                                     </div>
                                 </div>
                                 <!-- Registration Form -->
                                 <div class="form signup">
                                     <h2 class="title">Registration</h2>
                                     @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "aa-login-form" }))
                                     {
                             <div class="input-boxes">
                                 <div class="input-field">
                                     <div class="user-box">
                                         <input id="first-name" required name="First_Name" type="text" maxlength="20">
                                         <label>First Name</label>
                                     </div>
                                 </div>
                                 <div class="input-field">
                                     <div class="user-box">
                                         <input id="last-name" required name="Last_Name" type="text" maxlength="20">
                                         <label>Last Name</label>
                                     </div>
                                 </div>
                                 <div class="input-field">
                                     <div class="user-box">
                                         <input id="username" required name="UserName" type="text" maxlength="20">
                                         <label>UserName</label>
                                     </div>
                                 </div>
                                 <div class="input-field">
                                     <div class="user-box">
                                         <input id="age" required min="13" name="Age" type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="2">
                                         <label>Age</label>
                                     </div>
                                 </div>
                                 <div class="input-field">
                                     <div class="user-box">
                                         <input id="email" name="Email" type="email" required maxlength="50">
                                         <label>Email</label>
                                     </div>
                                 </div>
                                 <div class="input-field">
                                     <div class="user-box">
                                         <input id="password" required name="Password" type="password" maxlength="20">
                                         <label>Password</label>
                                     </div>
                                 </div>
                                 <div class="input-field">
                                     <div class="user-box">
                                         <input id="mobile" required min="0" name="Mobile1" type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="15">
                                         <label>Mobile</label>
                                     </div>
                                 </div>
                                 <div class="input-field">
                                     <div class="user-box">
                                         <input id="country" required name="Country" type="text" maxlength="20">
                                         <label>Country</label>
                                     </div>
                                 </div>
                             </div>
                                             <div class="button input-field">
                                                 <button type="submit" class="aa-browse-btn" style="margin-top: -10px; width: 365px;">Register</button>
                                             </div>}
                                     <div class="login-signup">
                                         <span class="text">
                                             Already have an account?
                                             <a href="#" class="text login-link">Login Now</a>
                                         </span>
                                     </div>
                                 </div>

                                 <div class="form forgot-password">
                                     <h2 class="title">Forgot Password</h2>
                                     <form method="post" action="@Url.Action("ForgotPassword", "Account")">
                                         <div class="input-field">
                                             <div class="user-box">
                                                 <input id="email" name="email" type="email" required maxlength="50">
                                                 <label style="margin-top:-5px;">Email</label>
                                             </div>
                                         </div>
                                         <div class="button input-field">
                                             <button type="submit" class="aa-browse-btn" style="margin-top: -10px; width: 365px;">Reset Password</button>
                                         </div>
                                     </form>
                                     <div class="login-signup">
                                         <span class="text">
                                             Remembered your password?
                                             <a href="#" class="text login-link">Login Now</a>
                                         </span>
                                     </div>
                                 </div>


                                 <script>
    function redirectToForgotPassword() {
        // Redirect to the ForgotPassword page
        window.location.href = '@Url.Action("ForgotPassword", "Account")';
    }
                                 </script>


                             </div>
    </div>
     <script>
         const container2 = document.querySelector(".container2"),
             pwShowHide = document.querySelectorAll(".showHidePw"),
             pwFields = document.querySelectorAll(".password"),
             signUp = document.querySelector(".signup-link"),
             login = document.querySelector(".login-link");

         //   js code to show/hide password and change icon
         pwShowHide.forEach(eyeIcon => {
             eyeIcon.addEventListener("click", () => {
                 pwFields.forEach(pwField => {
                     if (pwField.type === "password") {
                         pwField.type = "text";

                         pwShowHide.forEach(icon => {
                             icon.classList.replace("uil-eye-slash", "uil-eye");
                         })
                     } else {
                         pwField.type = "password";

                         pwShowHide.forEach(icon => {
                             icon.classList.replace("uil-eye", "uil-eye-slash");
                         })
                     }
                 })
             })
         })

         // js code to appear signup and login form
         signUp.addEventListener("click", () => {
             container2.classList.add("active");
         });
         login.addEventListener("click", () => {
             container2.classList.remove("active");
         });

         $(document).ready(function () {
             // Switch to forgot password form
             $('#forgot-password-link').click(function () {
                 $('.form.login').hide();
                 $('.form.signup').hide();
                 $('.form.forgot-password').show();
             });
             $('.login-link').click(function () {
                 $('.form.login').show();
                 $('.form.signup').show();
                 $('.form.forgot-password').hide();
             });
         });

     </script> 
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- / Cart view section -->
