
@{
    ViewBag.Title = "Login";
}

<!-- Cart view section -->
<section id="aa-myaccount">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">
                    <div class="row">
                    @if (TempData["AlertMessage"] != null)
                    {
                       <div class="alert alert-danger alert-dismissible fade in">
                         <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                         <strong> @TempData["AlertMessage"].ToString()</strong>
                       </div>
                    }
                        <div class="col-md-6">
                            <div class="aa-myaccount-login">
                                <h4>Login</h4>
                               
                            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "aa-login-form" }))
                                {
                                    <label for="">Username or Email address<span>*</span></label>
                                    <input name="UserName" type="text" required placeholder="Username">
                                    <label for="">Password<span>*</span></label>
                                    <input name="Password" type="password" required placeholder="Password">
                                    <button type="submit" class="aa-browse-btn">Login</button>
                                    <p class="aa-lost-password"><a href="#">Lost your password?</a></p>
                            }
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="aa-myaccount-register">
                                <h4>Register</h4>

                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "aa-login-form" }))
                                {
                                    <label for="">First Name<span>*</span></label>
                                    <input required name="First_Name" type="text" placeholder="Enter first name">

                                    <label for="">Last Name<span>*</span></label>
                                    <input required name="Last_Name" type="text" placeholder="Enter last name">

                                    <label for="">Username<span>*</span></label>
                                    <input required name="UserName" type="text" placeholder="Username">

                                    <label for="">Age<span>*</span></label>
                                    <input required min="13" name="Age" type="number" placeholder="Age">

                                    <label for="">Password<span>*</span></label>
                                    <input required name="Password" type="password" placeholder="Password">

                                    <label for="">Email<span>*</span></label>
                                    <input name="Email" type="email" required placeholder="Enter your email">

                                    <label for="">Mobile<span>*</span></label>
                                    <input required min="0" name="Mobile1" type="number" placeholder="Mobile">

                                    <button type="submit" class="aa-browse-btn">Register</button>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->
